body{
				margin: 0;
				font-family: "Raleway", sans-serif;
				background-image: url("../images/backgroundimg.jpg");
				/*IMG SOURCE: https://en.wikipedia.org/wiki/Cornell_University#/
				media/File:Cornell_University_arts_quad.JPG */
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: 1448px 968px;
			}
			#logo{
				color:white;
				font-family: 'Amatic SC', cursive;
				font-size: 300%;
				margin-top: 150px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;

			}
			#sa{
				float: right;
				margin: auto;
				padding: 10px;
			}
			#subtitle{
				border-width: 1px;
				border-spacing: 50px;
				border-style: solid;
				border-color: white;
				border-radius: 1px 1px 1px 1px;
				color:white;
				font-size: small;
				font-family: 'Raleway', sans-serif;
				padding-top: 0px;
				text-align: center;
				margin-top: 100px;

			}
			#subtitle a{
				text-decoration: none;
				color: #ffffff;
			}
			#mainsub{
				padding-top: 30px;
			}

			#subtitle{
				margin: auto;
				width: 15%;
			}
		
			#subtitle:hover{
				background-color: #FFF;
				-webkit-transition: all .3s linear;
			}
			#subtitle a:hover{
				color: #B31B1B;
				-webkit-transition: all .3s linear;
			}
			h1{
				text-align: center;
				font-weight: lighter;
			}

			p{
				border: 5px black;
			}
			p#footer{
				color: white;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 150px;
			}
			p#footer a{
				text-decoration: none;
				color: white;
			}
			p#footer a:hover{
				color: #B31B1B;
				-webkit-transition: all .3s linear;
			}

			