<template name="home">
	<div id="headerimageindex" class="header-image">
    	<h1 class="headertitle">Instigate Change</h1>
  	</div>
  	{{> menu}}

  	<div class="container">
  		<div class="row">
  			<div class="col-sm-8">
		  		{{#each categories}}
		  			<div class="category-item">
		  				<div class="category-icon" id="icon-{{name}}">
		  					<img src="../images/icon-{{name}}.png">
		  				</div>
		  				<div class="category-main">
		  					<a href="/{{name}}" class="category-name">{{name}}</a>
		  					<div class="category-description">{{description}}</div>

		  					<div class="category-posts-count">
		  						<div class="post-number">{{postCount}}</div>
		  						Posts
		  					</div>
		  				</div>
		  			</div>
		  		{{/each}}
		  	</div>
		  	<div class="col-sm-4">
		  		<div class="c">
					<a id="add-post-button" href="/post_form">Have a concern?</a>
				</div>
		  	</div>
		  </div>
  	</div>
</template>