<template name="index">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
      <title>CU Change</title>
      <link type="text/css" rel="stylesheet" href="../css/style.css">
      <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
  <div id="headerimageindex">
    <h1 class="headertitle">Instigate Change</h1>
    
  </div>
  {{> menu}}

  <div class="container">

<!--       {{#each tabs}}
        <a href="/{{name}}">{{name}}</a>
      {{/each}} -->
      <div class="c">
        <a id="add-post-button" href="/post_form">Add Post</a>
      </div>

      <div class="row">
        <div class="col-sm-8">

          <ul id="Posts" class="post-list">
            {{#each posts}}
              <li> {{> list_post}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-sm-4">
          <b>Status</b>
          <div class="status-checks">
            <label><input type="checkbox" class="status-checkbox" value="open"> Open</label>
            <label><input type="checkbox" class="status-checkbox" value="progress"> Progress</label>
            <label><input type="checkbox" class="status-checkbox" value="resolved"> Resolved</label>
            <label><input type="checkbox" class="status-checkbox" value="closed"> Closed</label>
          </div>
        </div>
      </div>
  </div>


</template>
 
