<template name="index">
  <div class="container">
    <header>
      <h1>Post List ({{incompleteCount}})</h1>


      <button id="loginWithGoogle">Login with Google</button>
      <button id="logout">Logout</button>



<!--       {{#if cornellUser()}}
        Cornell user!
      {{/if}} -->

      {{#if isLogged}}
        <form class="new-post">
          <input type="text" name="text" placeholder="Type to add new posts" />
        </form>
      {{/if}}
    </header>
      {{#each tabs}}
        <a href="/{{name}}">{{name}}</a>
      {{/each}}
      <ul id="Posts">
      {{#each posts}}
        <li> {{> list_post}}</li>
      {{/each}}
    </ul>
  </div>


</template>
 
