<template name="index">
  <div id="header_images">
    <img class="logo1" src="../images/logo.png">
    <a href="http://www.cornellsa.com">
    <img class="logo2" src="../images/salogo.png">
    </a>
    <div id="login">
    <a href="index.html">
    <div id="subtitle"><h2>Sign In</h2></div>
    </a>
    </div>

  </div> 


  <div id="hero_image">
    <div id="welcome_text"> 
      <h1 id="instigate">Instigate Change</h1><!--welcome-->
      
    </div> <!--welcome_text-->
  </div> <!-- hero_image -->
  {{> menu}}

  <div class="container">

<!--       {{#each tabs}}
        <a href="/{{name}}">{{name}}</a>
      {{/each}} -->
      <div class="c">
        <a id="add-post-button" href="/post_form">Add Post!</a>
      </div>

      <div class="row">
        <div class="col-sm-8">

          <ul id="Posts" class="post-list">
            {{#each posts}}
              <li> {{> list_post}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
  </div>


</template>
 
