<!-- One list post on the index page -->

<template name="list_post">
    <button class="delete">&times;</button>
 
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <a href="/post/{{_id}}" class="list_post">
    {{#if isOwner}}
      <button class="Edit">
        Edit
      </button>
    {{/if}}
    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
  </a>
  <div class="container" id="Voting">
    <button class="Upvote"></button>
    {{votes}}
    <button class="Downvote"></button>
  </div>
  
</template>