<template name="login">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
		<title>CU Change</title>
		<link type="text/css" rel="stylesheet" href="../css/style.css">
		<div id="sa"><img src="../images/salogo.png" width="210" height="63"></div>
		<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
	
		<div id="loginpage">
	<a href="https://www.facebook.com/CornellSA">
		<i class="fa fa-facebook-official" style="font-size:36px;padding:10px;color:white"></i>
		</a>
		<a href="https://instagram.com/cornellstudentassembly/">
		<i class="fa fa-instagram" style="font-size:36px;padding:10px;color:white"></i>
		</a>
		<a href="https://twitter.com/CornellSA">
		<i class="fa fa-twitter" style="font-size:36px;padding:10px;color:white"></i>
		</a>

		
		<!--Main Title-->
		<div id ="logo"><img src="../images/logo.png" width = "600" height= "150"></div>
		<!--subtitle-->
		<div id="mainsub">
		<a class="login" href="/all">
			<button id="loginWithGoogle">LOGIN WITH GOOGLE</button><br>
      		<button id="logout">LOGOUT</button>
		</a>
		</div>

		<p id="footer">Brought to you by <a href="http://www.cornellsa.com/>Cornell Student Assembly">Cornell Student Assembly</a></p>
	</div>
</template>