<!-- Post page -->

<template name="post">

  <div id="headerimageacademics">
    <h1 class="headertitle">{{category}}</h1>
    <i class="fa fa-book" style="font-size:36px;color:white"></i>
  </div>
  {{> menu}}

  <div class="container">

    
      

      <div class="upvote-wrap">
        <div class="upvote-comment Upvote"><span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
        <div class="votes">{{votes}}</div>
        <div class="downvote-comment Downvote"><span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
      </div>

      <div class="comment-body">
        <h1>{{title}}</h1>
        {{text}}
      </div>


     	<!-- Form for adding a new comment -->
     	<div class="comment-form">
        <textarea type="text" name="text" id="comment-text" placeholder="Add comment"></textarea>
        <label for="anonymous">
          <input type="checkbox" id="anonymous" name="anonymous"/>
          Comment Anonymously
        </label>
        <button id="add-comment" class="button">Comment</button>
      </div>

     	{{#each comments}}
     		{{> comment}}
     	{{/each}}
  </div>
</template>

