<!-- Post page -->

<template name="post">
  
  <div id="headerimage{{category}}" class="header-image">
    <h1 class="headertitle">{{category}}</h1>
  </div>
  {{> menu}}

  <div class="container">
    
      <div class="row">
        <div class="col-sm-9">
          <div class="post-wrap">
            <div class="upvote-wrap">
              <div class="Upvote {{activeUpvote}}"><span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
              <div class="votes">{{votes}}</div>
              <div class="Downvote {{activeDownvote}}"><span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
            </div>

            <div class="post-body">
              <h1>{{title}}</h1>
              <div class="post-text">{{text}}</div>
            </div>
            
          </div>
        </div>

        <div class="col-sm-3 sidebar">
          <div class="big-category-icon post-icon" id="icon-{{category}}">
            <img src="../images/icon-{{category}}.png">

          </div>
          <div class="cat">{{category}}</div>

          {{#if hasAuth}}
          <div class="btn-group edit-menu edit-left" >
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="edit-dropdown">
              <li><a href="edit/{{_id}}" class="edit">Edit</a></li>
              <li><a class="delete">Delete</a></li>
            </ul>
          </div>
        {{/if}}

          
          <h3>Submitted By</h3>
          {{name}}

          <br>
          <h3>Date Submitted</h3>
          {{prettyDate createdAt}}

          <h3>Status</h3>
          {{status}}
          
          
        </div>

    </div>


     	<!-- Form for adding a new comment -->
     	<div class="comment-form">
        <textarea type="text" name="text" id="comment-text" placeholder="Add comment"></textarea>
        <button id="add-comment" class="button">Comment</button>
        <label>
          <input type="checkbox" id="anonymous" name="anonymous"/>
          Comment Anonymously
        </label>
        
      </div>

      <br>
      <h2>Comments ({{commentCount}})</h2>

     	{{#each comments}}
     		{{> comment}}
     	{{/each}}
  </div>
</template>


