<template name="post_form">

	{{> menu}}

	{{#if isLogged}}
		<div id="post-form">
			<h2>Add a Post</h2>
			<div id="error"></div>

			<input type="title" name="title" id="post-title" placeholder="Title" class="form-control" value="{{title}}"/>
			
			<input type="text" name="text" id="post-text" placeholder="Type to add new posts" class="form-control" value="{{text}}"/>


			<select class="form-control" id="category" required>
				<option selected disabled>Category</option>
				{{#each categories}}
				<option value="{{name}}" selected="{{isSelected}}">{{name}}</option>
				{{/each}}
			</select>


			  <label>
			  	<input type="checkbox" id="anonymous">Post Anonymously
			  </label>


			<select class="form-control" id="status" required>
			 <option value="open" selected="{{openSelected}}">Open</option>
			 <option value="progress" selected="{{progressSelected}}">In Progress</option>
			 <option value="resolved" selected="{{resolvedSelected}}">Resolved</option>
			 <option value="closed" selected="{{closedSelected}}">Closed</option>
			</select>

			<div class="form-control submit-post submit">Submit post</div>
		</div>
	{{/if}}

</template>