<!-- Profile page --> 
<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	<title>CU Change</title>
	<link type="text/css" rel="stylesheet" href="../css/profilestyle.css">
	<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body>
	<div id="topbar">
		<div id="userdisplay">
			<h1> Welcome (insert username)!</h1>
		</div>

		<div id="numupvotes">
			<h1> (insert number of upvotes)</h1>
		</div>
		<img class="upvoteassign" src="../images/upvoteicon.png">
			<img class="commentassign" src="../images/comment.png">
		<div id="numcomments">
			<h1> (insert number of comments)</h1>
		</div>
	</div>

	<div id="rightcolumn">
		<h1> Active since</h1> 
		<p> (insert time stamp)
		<br><br>
		<h1>Email</h1>
		<p> (insert email)
		<br><br>
		<h1> Number of resolved posts</h1>
		<p>(insert number of resolved posts)

		<img class= "babylogo" src="../images/logo.png">

</body>

		





</html>

