<template name="profile">
	<div id="headerimageindex">
    	<h1 class="headertitle">Instigate Change</h1>
  	</div>
  	<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

	{{> menu}}

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="userdisplay">
					<h1> Welcome {{name}}!</h1>
				</div>

				
				<!--<img class="upvoteassign" src="../images/upvoteicon.png">
				<img class="commentassign" src="../images/comment.png">-->
				
			</div>

			<div class="col-sm-4" id="rightcolumn">
				
				<h1><img class="commentassign" src="../images/comment.png">Comments: {{commentCount}}
				<img class="upvoteassign" src="../images/upvoteicon.png">{{upvoteCount}}</h1>


				<h1> Active since</h1> 
				<p> {{prettyDate createdAt}}</p>
				<br><br>
				<h1>Email</h1>
				<p> {{email}}</p>
				<br><br>
				<h1> Number of resolved posts</h1>
				{{#each post}}
				<a href='post/{{_id}}'></a>
				{{/each}}

				<img class= "babylogo" src="../images/logo.png">
			</div>
		</div>


		<div id="admin-error"></div>
		<input type="text" id="netId">
		<div class="add-admin">Add Admin</div>

		{{#each admins}}
			<div class="admin">
				{{name}} {{_id}} 
				<div class="remove-admin">Remove</div>
			</div>
		{{/each}}
	</div>

</template>
