<!-- different tabs -->

<template name= "tab">


			<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
			<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
			<title>CU Change</title>
			<link type="text/css" rel="stylesheet" href="../css/style.css">
			<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
	<div id="headerimage{{title}}">
		<h1 class="headertitle">{{title}}</h1>
		
	</div>
	{{> menu}}
	
	<div class="container">

		<div class="c">
			<a id="add-post-button" href="/post_form">Add Post</a>
		</div>

		<div class="row">
			<!-- Post column -->
	        <div class="col-sm-8">

	          <ul id="Posts" class="post-list">
	            {{#each posts}}
	              <li> {{> list_post}}</li>
	            {{/each}}
	          </ul>
	        </div>

	        <!-- sidebar column -->
	        <div class="col-sm-4">
	        	<select id = "filter" class="form-control"> 
					<option value = "Top" selected = {{topIsSelected}}> Top</option>
					<option value = "Oldest" selected = {{oldestIsSelected}}> Oldest</option>
					<option value = "Newest" selected = {{newestIsSelected}}> Newest</option>
				</select>

				<b>Status</b>
				<div class="status-checks">
					<label><input type="checkbox" class="status-checkbox" value="open"> Open</label>
					<label><input type="checkbox" class="status-checkbox" value="progress"> Progress</label>
					<label><input type="checkbox" class="status-checkbox" value="resolved"> Resolved</label>
					<label><input type="checkbox" class="status-checkbox" value="closed"> Closed</label>
				</div>
	        </div>
	      </div>
	  </div>
</template>
