<!-- different tabs -->

<template name= "tab">


			<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
			<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
			<title>CU Change</title>
			<link type="text/css" rel="stylesheet" href="../css/style.css">
			<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
	<div id="headerimage{{title}}">
		<h1 class="headertitle">{{title}}</h1>
		
	</div>
	{{> menu}}
	
	<div class="container">

		{{>postList}}
	  </div>
</template>
